li {
  transition-property: margin, background-color, border-color;
  transition-duration: .4s, .2s, .2s;
  transition-timing-function: ease-in-out, ease, ease;
  display: block;
	overflow-y: auto;
	overflow-x: auto;
	
}
ul{
	display: block;
	overflow-y: auto;
	
}
#list{
	line-height: 10px;
}
.empty-item {
  transition-property: opacity;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.empty .empty-item {
  transition-property: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
  transition-timing-function: ease;
}

.hiding {
 /* margin-left:-100%;
  opacity:0.5;*/
}

.hidden {
  display:none;
}
.empty-item {
  /*background:#fff;
  color:#ddd;
  margin:0.2em 0;
  padding:0.5em 0.8em;
  font-style:italic;
  border:none;
  text-align:center;*/
  visibility:hidden;
  color: white;
  /*opacity:0;
  float:left;
  clear:left;
  width:100%;*/
}

.empty .empty-item {
  color: white;
}